<!DOCTYPE html>
<html lang='en-US'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<title>My first page</title>

	</head>
	<body>
		<div class="container">
			<div class='row'>
				<div class ='col'>
					<p>Countries</p>
					<select class="form-control form-control-sm" id='countries' onchange='OnSelectObject("getRegions", "regions", "countries")'></select>
				</div>

				<div class ='col'>
					<p>Regions</p>
					<select class="form-control form-control-sm" id='regions' onchange='OnSelectObject("getCities", "cities", "regions")'></select>
				</div>

				<div class ='col'>
					<p>Cities</p>
					<select class="form-control form-control-sm" id='cities' onchange='OnSelectObject("getCityInfo", "cityInfo", "cities")'></select>
				</div>
			</div>
			<div class='row d-none' id='cityInfo'>
				<div class='row w-100'>
					<div class='col-2'>
						<h5>Area:</h5>
					</div>
					<div class='col' id='area'></div>
				</div>
				<div class='row w-100'>
					<div class='col-2'>
						<h5>Population:</h5>
					</div>
					<div class='col' id='population'></div>
				</div>
				<div class='row w-100'>
					<div class='col-2'>
						<h5>History:</h5>
					</div>
					<div class='col' id='history'></div>
				</div>
			</div>
		</div>

	</body>

	<script>
		function request(method, id, idVal) {
			$.ajax({
				type: "POST",
				url: 'registersHandler.php',
				dataType: 'json',
				data: {functionname: method, id: idVal},

				success: function (data) {
					$("#"+id).find('option').remove().end();
					$("#area").html('');
					$("#population").html('');
					$("#history").html('');
					$("#cityInfo").addClass("d-none");
					if (id!='cityInfo' && data){
						$("#"+id).append("<option value='0'>-</option>");
						data.forEach(function(item){
							$( "#"+id ).append("<option value='"+item.id+"'>"+item.name+"</option>");
						});
					} else if (id=='cityInfo' && data){
						$("#cityInfo").removeClass("d-none");
						$("#area").html(data.area);
						$("#population").html(data.population);
						$("#history").html(data.history);
					}
				}
			});
		}
		function OnSelectObject(method, id, parentId='') {
			var parentVal = 0;
			if (parentId) {
				parentVal = $("#"+parentId).val();
			}
			request(method,id,parentVal);			
		}
		$(document).ready(OnSelectObject('getCountries', 'countries'));
	</script>

</html>