<div>
	<div class='row'>
		<div class='row w-100'>
			<input class='w-25' type="number" name="numberValue" value='Click to show'>
		</div>
		<div class="row w-100">
			<table class="table table-borderless w-25">
				<tbody>
					<tr>
						<td><button>7</button></td>
						<td><button>8</button></td>
						<td><button>9</button></td>
						<td><button>Del</button></td>
					</tr>
					<tr>
						<td><button>4</button></td>
						<td><button>5</button></td>
						<td><button>6</button></td>
						<td><button>Clear</button></td>
					</tr>
					<tr>
						<td><button>1</button></td>
						<td><button>2</button></td>
						<td><button>3</button></td>
						<td><button>Clean</button></td>
					</tr>
					<tr>
						<td><button>+/-</button></td>
						<td><button>0</button></td>
						<td><button>,</button></td>
						<td><button>Done</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>