@charset "UTF-8";
.content{
	margin-top: 20px;
}


/* task1 page */
.padding-left-15{
	padding-left: 15px;
}


/* task2 page */
.margin-bottom-10{
	margin-bottom: 10px;
}

.padding-left-30{
	padding-left: 30px;
}

label{
	float: none;
	width: 100%;
}

input.danger {
	border-color: #dc3545;
}
input.danger:focus {
	border-color: #dc3545;
	box-shadow: 0 0 0 #dc3545;
}


/* task4 page */
.banknotes td{
	vertical-align: middle!important;
	input{
		margin-bottom: 0px !important;
	}
}

.banknotes input{
	margin-bottom: 0px !important;
}

/* task5 page */
.margin-top-40{
	margin-top: 40px;
}

.margin-top-24{
	margin-top: 24px;
}